In [3]:
import pandas as pd

# Load the dataset
df = pd.read_csv("cleaned_data_v2.csv")
df

,Unnamed: 0.1,Unnamed: 0,title,price,n_rooms,area,year,price_per_sqft,size_sqft,road_name,n_bedrooms,n_bathrooms,district,region,scraped_date
0,0,0,335A SMITH STREET,558000.0,HDB 3-Room,Central Area,1983.0,865.0,645,Smith Street,2,2,"Raffles Place, Cecil, Marina, People's Park",Central,2025-03-11
1,1,1,538 UPPER CROSS STREET,620000.0,HDB 3-Room,Central Area,1978.0,961.0,645,Upper Cross Street,2,1,"Raffles Place, Cecil, Marina, People's Park",Central,2025-03-11
2,2,2,538 UPPER CROSS STREET,620000.0,HDB 3-Room,Central Area,1978.0,960.0,646,Upper Cross Street,2,1,"Raffles Place, Cecil, Marina, People's Park",Central,2025-03-11
3,3,3,533 UPPER CROSS STREET,620000.0,HDB 3-Room,Central Area,1979.0,895.0,693,Upper Cross Street,2,2,"Raffles Place, Cecil, Marina, People's Park",Central,2025-03-11
4,6,6,110 SPOTTISWOODE PARK ROAD,900000.0,HDB 5-Room,Bukit Merah,1977.0,680.0,1323,Spottiswoode Park Road,3,2,"Anson, Tanjong Pagar",Central,2025-03-11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1540,1720,1720,458A SENGKANG WEST ROAD,660000.0,HDB 4-Room,Sengkang,2019.0,659.0,1001,Sengkang West Road,3,2,Seletar,North East,2025-03-25
1541,1721,1721,441D FERNVALE ROAD,738000.0,HDB 4-Room,Sengkang,2010.0,737.0,1001,Fernvale Road,3,2,Seletar,North East,2025-03-25
1542,1722,1722,456A SENGKANG WEST ROAD,399000.0,HDB 2-Room,Sengkang,2019.0,772.0,517,Sengkang West Road,1,1,Seletar,North East,2025-03-25
1543,1723,1723,409B FERNVALE ROAD,699000.0,HDB 5PA (Premium Apartment),Sengkang,2004.0,565.0,1238,Fernvale Road,3,2,Seletar,North East,2025-03-25
1544,1724,1724,435A FERNVALE ROAD,680000.0,HDB 4PA (Premium Apartment),Sengkang,2011.0,673.0,1011,Fernvale Road,3,2,Seletar,North East,2025-03-25

### Validatation Checks

In [4]:
#--- Data Validation-----
df.isnull().sum()

Unnamed: 0.1      0
Unnamed: 0        0
title             0
price             0
n_rooms           0
area              0
year              4
price_per_sqft    0
size_sqft         0
road_name         0
n_bedrooms        0
n_bathrooms       0
district          0
region            0
scraped_date      0
dtype: int64

In [8]:
df = df.dropna(subset=['year'])

In [9]:
df.dtypes

Unnamed: 0.1        int64
Unnamed: 0          int64
title              object
price             float64
n_rooms            object
area               object
year              float64
price_per_sqft    float64
size_sqft           int64
road_name          object
n_bedrooms          int64
n_bathrooms         int64
district           object
region             object
scraped_date       object
dtype: object

In [10]:
df['price'].describe()

count    1.541000e+03
mean     7.523423e+05
std      2.819891e+05
min      3.000000e+05
25%      5.600000e+05
50%      7.000000e+05
75%      9.000000e+05
max      4.500000e+06
Name: price, dtype: float64

In [11]:
df['year'].unique()

array([1983., 1978., 1979., 1977., 1976., 1965., 2009., 1980., 2000.,
       2010., 1974., 1982., 1994., 2019., 2018., 1999., 1970., 1986.,
       2021., 1998., 1993., 1949., 2015., 1963., 1972., 2004., 1969.,
       1995., 2005., 1964., 1973., 2007., 1937., 2001., 2011., 1967.,
       2014., 1996., 1975., 2003., 1984., 2016., 2017., 1981., 2012.,
       2002., 1968., 1985., 1997., 2020., 1971., 1988., 1959., 1992.,
       2008., 1966., 1987., 2006., 1989., 1962., 1990., 1991., 2013.])

In [12]:
df['size_sqft'].describe()

count    1541.000000
mean     1052.770928
std       287.488207
min        10.000000
25%       818.000000
50%      1010.000000
75%      1259.000000
max      3014.000000
Name: size_sqft, dtype: float64

In [13]:
df.duplicated().sum()

0

In [14]:
df['n_rooms'].value_counts()

n_rooms
HDB 4-Room                     535
HDB 5-Room                     389
HDB 3-Room                     377
HDB Exec Maisonette             78
HDB Exec Apartment              65
HDB 4PA (Premium Apartment)     32
HDB 5PA (Premium Apartment)     31
HDB 2-Room                      29
HDB 3PA (Premium Apartment)      5
Name: count, dtype: int64

In [15]:
df['region'].value_counts()

region
Central       511
East          372
North         269
West          201
North East    188
Name: count, dtype: int64

In [16]:
df['area'].value_counts()

area
Bukit Merah        136
Sengkang           122
Queenstown         111
Bedok              105
Kallang/Whampoa    100
Geylang             96
Woodlands           93
Clementi            86
Toa Payoh           77
Jurong West         65
Tampines            57
Ang Mo Kio          48
Bishan              45
Sembawang           43
Yishun              38
Bukit Batok         37
Marine Parade       36
Hougang             33
Bukit Panjang       32
Central Area        31
Pasir Ris           31
Punggol             27
Choa Chu Kang       25
Bukit Timah         23
Jurong East         22
Central             11
Serangoon            6
East                 4
North                1
Name: count, dtype: int64

In [17]:
df[(df['n_bedrooms'] <= 0) | (df['n_bathrooms'] <= 0)]

Empty DataFrame
Columns: [Unnamed: 0.1, Unnamed: 0, title, price, n_rooms, area, year, price_per_sqft, size_sqft, road_name, n_bedrooms, n_bathrooms, district, region, scraped_date]
Index: []

In [18]:
df['computed_price_psf'] = df['price'] / df['size_sqft']
df[['price_per_sqft', 'computed_price_psf']].head()

/var/folders/_b/jsmfyq8n71x_t9v76sfs3hgw0000gn/T/ipykernel_31641/2522675959.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['computed_price_psf'] = df['price'] / df['size_sqft']

   price_per_sqft  computed_price_psf
0           865.0          865.116279
1           961.0          961.240310
2           960.0          959.752322
3           895.0          894.660895
4           680.0          680.272109

In [19]:
df.drop(columns=['computed_price_psf'], inplace=True)

/var/folders/_b/jsmfyq8n71x_t9v76sfs3hgw0000gn/T/ipykernel_31641/3922386013.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.drop(columns=['computed_price_psf'], inplace=True)

###Feature Engineering

In [20]:
df['scraped_date'] = pd.to_datetime(df['scraped_date'], errors='coerce')
df['scraped_date'].describe()

/var/folders/_b/jsmfyq8n71x_t9v76sfs3hgw0000gn/T/ipykernel_31641/3789596793.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['scraped_date'] = pd.to_datetime(df['scraped_date'], errors='coerce')

count                             1541
mean     2025-03-11 01:32:30.681375488
min                2025-02-25 00:00:00
25%                2025-03-03 00:00:00
50%                2025-03-10 00:00:00
75%                2025-03-19 00:00:00
max                2025-03-27 00:00:00
Name: scraped_date, dtype: object

In [21]:
df = df.rename(columns={'year': 'build_year'})

In [22]:
# --- Feature Engineering ---

# 1. Flat Age
df['flat_age'] = 2025 - df['build_year']

# 2. Lease Remaining (assuming 99-year HDB lease)
df['lease_remaining'] = 99 - df['flat_age']

# 3. Price per Bedroom
df['price_per_bedroom'] = df['price'] / df['n_bedrooms']

# 5. Size per Room
df['size_per_room'] = df['size_sqft'] / df['n_bedrooms']

# 6. Bedroom to Bathroom Ratio
df['bed_bath_ratio'] = df['n_bedrooms'] / df['n_bathrooms']

# 7. Extract scraped month and year
df['scraped_date'] = pd.to_datetime(df['scraped_date'])
df['scraped_month'] = df['scraped_date'].dt.month
df['scraped_year'] = df['scraped_date'].dt.year

# 8. (Optional) Drop unused columns if needed
df = df.drop(columns=["Unnamed: 0", "Unnamed: 0.1"])

#For better visibility to the model, need to flag it
df['is_central'] = (df['region'].str.lower() == 'central').astype(int)

# Define mature towns in Singapore
mature_towns = [
    'Ang Mo Kio', 'Bedok', 'Bishan', 'Bukit Merah', 'Bukit Timah', 'Central Area',
    'Clementi', 'Geylang', 'Kallang/Whampoa', 'Marine Parade',
    'Pasir Ris', 'Queenstown', 'Serangoon', 'Tampines', 'Toa Payoh'
]

# Add a binary feature: 1 if town is mature, 0 otherwise
df['is_mature_town'] = df['area'].isin(mature_towns).astype(int)

#This captures how older + larger flats behave in pricing.
	#	Some old flats may still be big and valuable.
	#	Others may be old and small → lower value.
df['age_size_interaction'] = df['flat_age'] * df['size_sqft']

# This tells the model:
	# A flat with 90 years lease and $800 psf is very different from one with 30 years at $800 psf.
	# Lease affects how much the per sqft price matters.
df['lease_price_interaction'] = df['lease_remaining'] * df['price_per_sqft']


# Display the first few rows
print(df.head())

                        title     price     n_rooms          area  build_year  \
0           335A SMITH STREET  558000.0  HDB 3-Room  Central Area      1983.0
1      538 UPPER CROSS STREET  620000.0  HDB 3-Room  Central Area      1978.0
2      538 UPPER CROSS STREET  620000.0  HDB 3-Room  Central Area      1978.0
3      533 UPPER CROSS STREET  620000.0  HDB 3-Room  Central Area      1979.0
4  110 SPOTTISWOODE PARK ROAD  900000.0  HDB 5-Room   Bukit Merah      1977.0

   price_per_sqft  size_sqft               road_name  n_bedrooms  n_bathrooms  \
0           865.0        645            Smith Street           2            2
1           961.0        645      Upper Cross Street           2            1
2           960.0        646      Upper Cross Street           2            1
3           895.0        693      Upper Cross Street           2            2
4           680.0       1323  Spottiswoode Park Road           3            2

   ... lease_remaining price_per_bedroom size_per_room  bed_bath_ratio  \
0  ...            57.0          279000.0         322.5             1.0
1  ...            52.0          310000.0         322.5             2.0
2  ...            52.0          310000.0         323.0             2.0
3  ...            53.0          310000.0         346.5             1.0
4  ...            51.0          300000.0         441.0             1.5

   scraped_month  scraped_year  is_central  is_mature_town  \
0              3          2025           1               1
1              3          2025           1               1
2              3          2025           1               1
3              3          2025           1               1
4              3          2025           1               1

   age_size_interaction  lease_price_interaction
0               27090.0                  49305.0
1               30315.0                  49972.0
2               30362.0                  49920.0
3               31878.0                  47435.0
4               63504.0                  34680.0

[5 rows x 24 columns]

In [23]:
df

,title,price,n_rooms,area,build_year,price_per_sqft,size_sqft,road_name,n_bedrooms,n_bathrooms,...,lease_remaining,price_per_bedroom,size_per_room,bed_bath_ratio,scraped_month,scraped_year,is_central,is_mature_town,age_size_interaction,lease_price_interaction
0,335A SMITH STREET,558000.0,HDB 3-Room,Central Area,1983.0,865.0,645,Smith Street,2,2,...,57.0,279000.000000,322.500000,1.0,3,2025,1,1,27090.0,49305.0
1,538 UPPER CROSS STREET,620000.0,HDB 3-Room,Central Area,1978.0,961.0,645,Upper Cross Street,2,1,...,52.0,310000.000000,322.500000,2.0,3,2025,1,1,30315.0,49972.0
2,538 UPPER CROSS STREET,620000.0,HDB 3-Room,Central Area,1978.0,960.0,646,Upper Cross Street,2,1,...,52.0,310000.000000,323.000000,2.0,3,2025,1,1,30362.0,49920.0
3,533 UPPER CROSS STREET,620000.0,HDB 3-Room,Central Area,1979.0,895.0,693,Upper Cross Street,2,2,...,53.0,310000.000000,346.500000,1.0,3,2025,1,1,31878.0,47435.0
4,110 SPOTTISWOODE PARK ROAD,900000.0,HDB 5-Room,Bukit Merah,1977.0,680.0,1323,Spottiswoode Park Road,3,2,...,51.0,300000.000000,441.000000,1.5,3,2025,1,1,63504.0,34680.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1540,458A SENGKANG WEST ROAD,660000.0,HDB 4-Room,Sengkang,2019.0,659.0,1001,Sengkang West Road,3,2,...,93.0,220000.000000,333.666667,1.5,3,2025,0,0,6006.0,61287.0
1541,441D FERNVALE ROAD,738000.0,HDB 4-Room,Sengkang,2010.0,737.0,1001,Fernvale Road,3,2,...,84.0,246000.000000,333.666667,1.5,3,2025,0,0,15015.0,61908.0
1542,456A SENGKANG WEST ROAD,399000.0,HDB 2-Room,Sengkang,2019.0,772.0,517,Sengkang West Road,1,1,...,93.0,399000.000000,517.000000,1.0,3,2025,0,0,3102.0,71796.0
1543,409B FERNVALE ROAD,699000.0,HDB 5PA (Premium Apartment),Sengkang,2004.0,565.0,1238,Fernvale Road,3,2,...,78.0,233000.000000,412.666667,1.5,3,2025,0,0,25998.0,44070.0
1544,435A FERNVALE ROAD,680000.0,HDB 4PA (Premium Apartment),Sengkang,2011.0,673.0,1011,Fernvale Road,3,2,...,85.0,226666.666667,337.000000,1.5,3,2025,0,0,14154.0,57205.0

In [ ]:
import re

# Extract block number (e.g., 533, 110, 441D, etc.)

df['block'] = df['title'].str.extract(r'^(\d+\w?)')
df['block'] 

df = df.drop(columns=["title"])
df = df.rename(columns={'road_name': 'street'})
df

,price,n_rooms,area,build_year,price_per_sqft,size_sqft,street,n_bedrooms,n_bathrooms,district,...,price_per_bedroom,size_per_room,bed_bath_ratio,scraped_month,scraped_year,is_central,is_mature_town,age_size_interaction,lease_price_interaction,block
0,558000.0,HDB 3-Room,Central Area,1983.0,865.0,645,Smith Street,2,2,"Raffles Place, Cecil, Marina, People's Park",...,279000.000000,322.500000,1.0,3,2025,1,1,27090.0,49305.0,335A
1,620000.0,HDB 3-Room,Central Area,1978.0,961.0,645,Upper Cross Street,2,1,"Raffles Place, Cecil, Marina, People's Park",...,310000.000000,322.500000,2.0,3,2025,1,1,30315.0,49972.0,538
2,620000.0,HDB 3-Room,Central Area,1978.0,960.0,646,Upper Cross Street,2,1,"Raffles Place, Cecil, Marina, People's Park",...,310000.000000,323.000000,2.0,3,2025,1,1,30362.0,49920.0,538
3,620000.0,HDB 3-Room,Central Area,1979.0,895.0,693,Upper Cross Street,2,2,"Raffles Place, Cecil, Marina, People's Park",...,310000.000000,346.500000,1.0,3,2025,1,1,31878.0,47435.0,533
4,900000.0,HDB 5-Room,Bukit Merah,1977.0,680.0,1323,Spottiswoode Park Road,3,2,"Anson, Tanjong Pagar",...,300000.000000,441.000000,1.5,3,2025,1,1,63504.0,34680.0,110
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1540,660000.0,HDB 4-Room,Sengkang,2019.0,659.0,1001,Sengkang West Road,3,2,Seletar,...,220000.000000,333.666667,1.5,3,2025,0,0,6006.0,61287.0,458A
1541,738000.0,HDB 4-Room,Sengkang,2010.0,737.0,1001,Fernvale Road,3,2,Seletar,...,246000.000000,333.666667,1.5,3,2025,0,0,15015.0,61908.0,441D
1542,399000.0,HDB 2-Room,Sengkang,2019.0,772.0,517,Sengkang West Road,1,1,Seletar,...,399000.000000,517.000000,1.0,3,2025,0,0,3102.0,71796.0,456A
1543,699000.0,HDB 5PA (Premium Apartment),Sengkang,2004.0,565.0,1238,Fernvale Road,3,2,Seletar,...,233000.000000,412.666667,1.5,3,2025,0,0,25998.0,44070.0,409B
1544,680000.0,HDB 4PA (Premium Apartment),Sengkang,2011.0,673.0,1011,Fernvale Road,3,2,Seletar,...,226666.666667,337.000000,1.5,3,2025,0,0,14154.0,57205.0,435A

0       Raffles Place, Cecil, Marina, People's Park
1       Raffles Place, Cecil, Marina, People's Park
2       Raffles Place, Cecil, Marina, People's Park
3       Raffles Place, Cecil, Marina, People's Park
4                              Anson, Tanjong Pagar
                           ...
1540                                        Seletar
1541                                        Seletar
1542                                        Seletar
1543                                        Seletar
1544                                        Seletar
Name: district, Length: 1541, dtype: object

In [32]:
# Save enhanced dataset (optional)
df.to_csv("enhanced_data.csv", index=False)

In [ ]:

#Not done : to be done just before model training. Pending normalisation as well.
# One-hot encode n_rooms
#df = pd.get_dummies(df, columns=['n_rooms'], prefix='layout', drop_first=False)