In [5]:
### This file is to test the code before we automate the data pipeline using airflow. 

import sqlalchemy
import pandas as pd
from sqlalchemy.orm import sessionmaker
from sqlalchemy.exc import SQLAlchemyError
from sqlalchemy import create_engine
import mysql.connector
import pymysql

In [6]:
# create engine

DB_DW_URI = 'mysql+pymysql://bt4301:password@localhost:3307/datawarehouse'
engine_dw = create_engine(DB_DW_URI)
print(f'created engine engine_dw')

created engine engine_dw

In [7]:
#housekeeping
with engine_dw.connect() as connection:
    connection.execute(sqlalchemy.text('DROP TABLE IF EXISTS resalelistings;'))

In [ ]:
# create resalelistings table


#add relevant table columns
str_sql = '''
CREATE TABLE resalelistings (
    id INT AUTO_INCREMENT PRIMARY KEY,

);
'''

connection_dw = engine_dw.raw_connection()

# Use pandas to execute the query and load the results into a DataFrame
df = pd.read_sql_query(str_sql, connection_dw)

connection_dw.close()
# Print the results (the DataFrame)
print(df)

/tmp/ipykernel_30476/92015582.py:17: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(str_sql, connection_dw)

DatabaseError: Execution failed on sql '
CREATE TABLE resalelistings (
    id INT AUTO_INCREMENT PRIMARY KEY,
    # REPLACE WITH RELEVANT TABLE COLUMNS e.g.
    #    name VARCHAR(100),
    #    age INT,
    #    email VARCHAR(255) UNIQUE,
    #    created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP
);
': (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near ')' at line 8")

In [ ]:
load CSV data from scraping

# change accordingly 
csv_file_path = './web-scraping/data.csv' 

df_data = pd.read_csv(csv_file_path)
print(df.head())

In [ ]:
# load to SQL database

df_data.to_sql(name="resalelistings", con=engine_dw, if_exists='replace')