In [ ]:
import pandas as pd

# Load the dataset
df = pd.read_csv("cleaned_data.csv")
df

,Unnamed: 0.1,Unnamed: 0,title,price,n_rooms,area,year,price_per_sqft,size_sqft,road_name,n_bedrooms,n_bathrooms,district,region,scraped_date
0,0,0,335A SMITH STREET,558000.0,HDB 3-Room,Central Area,1983,865.0,645.0,Smith Street,2,2,"Raffles Place, Cecil, Marina, People's Park",Central,2025-03-11
1,1,1,538 UPPER CROSS STREET,620000.0,HDB 3-Room,Central Area,1978,961.0,645.0,Upper Cross Street,2,1,"Raffles Place, Cecil, Marina, People's Park",Central,2025-03-11
2,2,2,538 UPPER CROSS STREET,620000.0,HDB 3-Room,Central Area,1978,960.0,646.0,Upper Cross Street,2,1,"Raffles Place, Cecil, Marina, People's Park",Central,2025-03-11
3,3,3,533 UPPER CROSS STREET,620000.0,HDB 3-Room,Central Area,1979,895.0,693.0,Upper Cross Street,2,2,"Raffles Place, Cecil, Marina, People's Park",Central,2025-03-11
4,4,4,538 UPPER CROSS STREET,620000.0,HDB 3-Room,Central,1984,9688.0,64.0,Upper Cross Street,2,1,"Raffles Place, Cecil, Marina, People's Park",Central,2025-03-11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1719,1720,1720,458A SENGKANG WEST ROAD,660000.0,HDB 4-Room,Sengkang,2019,659.0,1001.0,Sengkang West Road,3,2,Seletar,North East,2025-03-25
1720,1721,1721,441D FERNVALE ROAD,738000.0,HDB 4-Room,Sengkang,2010,737.0,1001.0,Fernvale Road,3,2,Seletar,North East,2025-03-25
1721,1722,1722,456A SENGKANG WEST ROAD,399000.0,HDB 2-Room,Sengkang,2019,772.0,517.0,Sengkang West Road,1,1,Seletar,North East,2025-03-25
1722,1723,1723,409B FERNVALE ROAD,699000.0,HDB 5PA (Premium Apartment),Sengkang,2004,565.0,1238.0,Fernvale Road,3,2,Seletar,North East,2025-03-25
1723,1724,1724,435A FERNVALE ROAD,680000.0,HDB 4PA (Premium Apartment),Sengkang,2011,673.0,1011.0,Fernvale Road,3,2,Seletar,North East,2025-03-25

### Validatation Checks

In [2]:
#--- Data Validation-----
df.isnull().sum()

Unnamed: 0.1      0
Unnamed: 0        0
title             0
price             0
n_rooms           0
area              0
year              0
price_per_sqft    0
size_sqft         1
road_name         1
n_bedrooms        0
n_bathrooms       0
district          0
region            0
scraped_date      0
dtype: int64

In [3]:
df.dtypes

Unnamed: 0.1        int64
Unnamed: 0          int64
title              object
price             float64
n_rooms            object
area               object
year                int64
price_per_sqft    float64
size_sqft         float64
road_name          object
n_bedrooms          int64
n_bathrooms         int64
district           object
region             object
scraped_date       object
dtype: object

In [4]:
df['price'].describe()

count    1.724000e+03
mean     7.640376e+05
std      2.879677e+05
min      3.000000e+05
25%      5.600000e+05
50%      7.000000e+05
75%      9.288220e+05
max      4.500000e+06
Name: price, dtype: float64

In [5]:
df['year'].unique()

array([1983, 1978, 1979, 1984, 1977, 1976, 1965, 2009, 1980, 2000, 2010,
       1974, 1982, 1994, 2019, 2018, 1999, 1970, 1986, 2021, 1998, 1993,
       1949, 2015, 1963, 1972, 2004, 1969, 1995, 2005, 1964, 1973, 2007,
       1937, 2001, 2011, 1967, 2014, 1996, 1975, 2003, 2016, 2017, 1981,
       2012, 2002, 1968, 1985, 1997, 2020, 1971, 1988, 1959, 1992, 2008,
       1966, 1987, 2006, 1989, 1962, 1990, 1991, 2013])

In [6]:
df['size_sqft'].describe()

count     1723.000000
mean      1063.046431
std        492.337275
min         10.000000
25%        818.000000
50%       1001.000000
75%       1238.000000
max      10774.000000
Name: size_sqft, dtype: float64

In [7]:
df.duplicated().sum()

np.int64(0)

In [8]:
df['n_rooms'].value_counts()

n_rooms
HDB 4-Room                     627
HDB 5-Room                     418
HDB 3-Room                     411
HDB Exec Maisonette             83
HDB Exec Apartment              68
HDB 4PA (Premium Apartment)     39
HDB 5PA (Premium Apartment)     36
HDB 2-Room                      32
HDB 3PA (Premium Apartment)      8
HDB Premium Apartment            1
HDB Multi-Generation             1
Name: count, dtype: int64

In [9]:
df['region'].value_counts()

region
Central       560
East          447
North         300
West          217
North East    200
Name: count, dtype: int64

In [ ]:
df['area'].value_counts()

district
Seletar                                                100
Bishan, Ang Mo Kio                                     100
Jurong                                                 100
Bedok, Upper East Coast, Eastwood, Kew Drive           100
Hillview, Dairy Farm, Bukit Panjang, Choa Chu Kang     100
Geylang, Eunos                                         100
Kranji, Woodgrove                                      100
Yishun, Sembawang                                      100
Pasir Panjang, Hong Leong Garden, Clementi New Town    100
Queenstown, Tiong Bahru                                100
Serangoon Garden, Hougang, Ponggol                     100
Balestier, Toa Payoh, Serangoon                         99
Macpherson, Braddell                                    99
Tampines, Pasir Ris                                     99
Telok Blangah, Harbourfront                             95
Ardmore, Bukit Timah, Holland Road, Tanglin             64
Little India                                            48
Katong, Joo Chiat, Amber Road                           47
Anson, Tanjong Pagar                                    29
Upper Bukit Timah, Clementi Park, Ulu Pandan            17
Middle Road, Golden Mile                                17
Raffles Place, Cecil, Marina, People's Park              6
Loyang, Changi                                           2
Watten Estate, Novena, Thomson                           2
Name: count, dtype: int64

In [11]:
df[(df['n_bedrooms'] <= 0) | (df['n_bathrooms'] <= 0)]

Empty DataFrame
Columns: [Unnamed: 0.1, Unnamed: 0, title, price, n_rooms, area, year, price_per_sqft, size_sqft, road_name, n_bedrooms, n_bathrooms, district, region, scraped_date]
Index: []

In [12]:
df['computed_price_psf'] = df['price'] / df['size_sqft']
df[['price_per_sqft', 'computed_price_psf']].head()

   price_per_sqft  computed_price_psf
0           865.0          865.116279
1           961.0          961.240310
2           960.0          959.752322
3           895.0          894.660895
4          9688.0         9687.500000

In [13]:
df.drop(columns=['computed_price_psf'], inplace=True)

###Feature Engineering

In [14]:
df['scraped_date'] = pd.to_datetime(df['scraped_date'], errors='coerce')
df['scraped_date'].describe()

count                             1724
mean     2025-03-10 21:07:56.102088192
min                2025-02-25 00:00:00
25%                2025-03-03 00:00:00
50%                2025-03-10 00:00:00
75%                2025-03-19 00:00:00
max                2025-03-27 00:00:00
Name: scraped_date, dtype: object

In [15]:
df = df.rename(columns={'year': 'build_year'})

In [16]:
# --- Feature Engineering ---

# 1. Flat Age
df['flat_age'] = 2025 - df['build_year']

# 2. Lease Remaining (assuming 99-year HDB lease)
df['lease_remaining'] = 99 - df['flat_age']

# 3. Price per Bedroom
df['price_per_bedroom'] = df['price'] / df['n_bedrooms']

# 5. Size per Room
df['size_per_room'] = df['size_sqft'] / df['n_bedrooms']

# 6. Bedroom to Bathroom Ratio
df['bed_bath_ratio'] = df['n_bedrooms'] / df['n_bathrooms']

# 7. Extract scraped month and year
df['scraped_date'] = pd.to_datetime(df['scraped_date'])
df['scraped_month'] = df['scraped_date'].dt.month
df['scraped_year'] = df['scraped_date'].dt.year

# 8. (Optional) Drop unused columns if needed
df = df.drop(columns=["Unnamed: 0", "Unnamed: 0.1"])

#For better visibility to the model, need to flag it
df['is_central'] = (df['region'].str.lower() == 'central').astype(int)

# Define mature towns in Singapore
mature_towns = [
    'Ang Mo Kio', 'Bedok', 'Bishan', 'Bukit Merah', 'Bukit Timah', 'Central Area',
    'Clementi', 'Geylang', 'Kallang/Whampoa', 'Marine Parade',
    'Pasir Ris', 'Queenstown', 'Serangoon', 'Tampines', 'Toa Payoh'
]

# Add a binary feature: 1 if town is mature, 0 otherwise
df['is_mature_town'] = df['area'].isin(mature_towns).astype(int)

#This captures how older + larger flats behave in pricing.
	#	Some old flats may still be big and valuable.
	#	Others may be old and small → lower value.
df['age_size_interaction'] = df['flat_age'] * df['size_sqft']

# This tells the model:
	# A flat with 90 years lease and $800 psf is very different from one with 30 years at $800 psf.
	# Lease affects how much the per sqft price matters.
df['lease_price_interaction'] = df['lease_remaining'] * df['price_per_sqft']


# Display the first few rows
print(df.head())

                    title     price     n_rooms          area  build_year  \
0       335A SMITH STREET  558000.0  HDB 3-Room  Central Area        1983
1  538 UPPER CROSS STREET  620000.0  HDB 3-Room  Central Area        1978
2  538 UPPER CROSS STREET  620000.0  HDB 3-Room  Central Area        1978
3  533 UPPER CROSS STREET  620000.0  HDB 3-Room  Central Area        1979
4  538 UPPER CROSS STREET  620000.0  HDB 3-Room       Central        1984

   price_per_sqft  size_sqft           road_name  n_bedrooms  n_bathrooms  \
0           865.0      645.0        Smith Street           2            2
1           961.0      645.0  Upper Cross Street           2            1
2           960.0      646.0  Upper Cross Street           2            1
3           895.0      693.0  Upper Cross Street           2            2
4          9688.0       64.0  Upper Cross Street           2            1

   ... lease_remaining price_per_bedroom size_per_room  bed_bath_ratio  \
0  ...              57          279000.0         322.5             1.0
1  ...              52          310000.0         322.5             2.0
2  ...              52          310000.0         323.0             2.0
3  ...              53          310000.0         346.5             1.0
4  ...              58          310000.0          32.0             2.0

   scraped_month  scraped_year  is_central  is_mature_town  \
0              3          2025           1               1
1              3          2025           1               1
2              3          2025           1               1
3              3          2025           1               1
4              3          2025           1               0

   age_size_interaction  lease_price_interaction
0               27090.0                  49305.0
1               30315.0                  49972.0
2               30362.0                  49920.0
3               31878.0                  47435.0
4                2624.0                 561904.0

[5 rows x 24 columns]

In [17]:
df

,title,price,n_rooms,area,build_year,price_per_sqft,size_sqft,road_name,n_bedrooms,n_bathrooms,...,lease_remaining,price_per_bedroom,size_per_room,bed_bath_ratio,scraped_month,scraped_year,is_central,is_mature_town,age_size_interaction,lease_price_interaction
0,335A SMITH STREET,558000.0,HDB 3-Room,Central Area,1983,865.0,645.0,Smith Street,2,2,...,57,279000.000000,322.500000,1.0,3,2025,1,1,27090.0,49305.0
1,538 UPPER CROSS STREET,620000.0,HDB 3-Room,Central Area,1978,961.0,645.0,Upper Cross Street,2,1,...,52,310000.000000,322.500000,2.0,3,2025,1,1,30315.0,49972.0
2,538 UPPER CROSS STREET,620000.0,HDB 3-Room,Central Area,1978,960.0,646.0,Upper Cross Street,2,1,...,52,310000.000000,323.000000,2.0,3,2025,1,1,30362.0,49920.0
3,533 UPPER CROSS STREET,620000.0,HDB 3-Room,Central Area,1979,895.0,693.0,Upper Cross Street,2,2,...,53,310000.000000,346.500000,1.0,3,2025,1,1,31878.0,47435.0
4,538 UPPER CROSS STREET,620000.0,HDB 3-Room,Central,1984,9688.0,64.0,Upper Cross Street,2,1,...,58,310000.000000,32.000000,2.0,3,2025,1,0,2624.0,561904.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1719,458A SENGKANG WEST ROAD,660000.0,HDB 4-Room,Sengkang,2019,659.0,1001.0,Sengkang West Road,3,2,...,93,220000.000000,333.666667,1.5,3,2025,0,0,6006.0,61287.0
1720,441D FERNVALE ROAD,738000.0,HDB 4-Room,Sengkang,2010,737.0,1001.0,Fernvale Road,3,2,...,84,246000.000000,333.666667,1.5,3,2025,0,0,15015.0,61908.0
1721,456A SENGKANG WEST ROAD,399000.0,HDB 2-Room,Sengkang,2019,772.0,517.0,Sengkang West Road,1,1,...,93,399000.000000,517.000000,1.0,3,2025,0,0,3102.0,71796.0
1722,409B FERNVALE ROAD,699000.0,HDB 5PA (Premium Apartment),Sengkang,2004,565.0,1238.0,Fernvale Road,3,2,...,78,233000.000000,412.666667,1.5,3,2025,0,0,25998.0,44070.0
1723,435A FERNVALE ROAD,680000.0,HDB 4PA (Premium Apartment),Sengkang,2011,673.0,1011.0,Fernvale Road,3,2,...,85,226666.666667,337.000000,1.5,3,2025,0,0,14154.0,57205.0

In [18]:

#Not done : to be done just before model training. Pending normalisation as well.
# One-hot encode n_rooms
#df = pd.get_dummies(df, columns=['n_rooms'], prefix='layout', drop_first=False)

In [19]:
# Save enhanced dataset (optional)
df.to_csv("enhanced_data.csv", index=False)